*{
    box-sizing: border-box;
}

body {
    font-size: 16px;
    margin: 0;
    background: white;
}

header {
    background-color: white;
    height: 60px;
    display: flex;
    align-items: center;
    padding: 5px 10px;
    justify-content: space-around;
    box-shadow: 0px 3px 10px rgba(80,119,242,0.3);
}

.logo {
    font-size: 35px;
}

.search {
    display: flex;
    align-items: center;
    height: 40px;
    background-color: red;
    width: 400px;
    border-radius: 35px;
    overflow: hidden;
    border: 1.5px solid black;
}

.search input {
    width: 100%;
    height: 100%;
    padding: 15px;
    border: none;
    outline: none;
    font-size: 15px;
}

.search i {
    width: 100px;
    background-color: white;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 18px;
    cursor: pointer;
}

.login a i {
    font-size: 30px;
    color: black;
}
/* blog */
.blog1 {
    padding: 30px;
    margin: auto;
}

.sub-blog {
    display: flex;
    justify-content: space-between;
}

.blog2 {
    display: flex;
    justify-content: center;
    gap: 40px;
    padding: 30px;
    margin: auto;
}

.card {
    display: flex;
    flex-direction: column;
    max-width: 400px;
    box-shadow: 7px 7px 25px 1px rgba(0,0,0,0.1);
    border-radius: 5px;
    overflow: hidden;
    padding-bottom: 10px;
}

.card img {
    min-height: 210px;
    max-height: 210px;
}

.card h3,
.card .publish {
    padding: 5px 10px;
    margin: 0;
}

.publish {
    display: flex;
    align-items: center;
    color: #a5a1a1;
}

.publish p {
    margin: 0;
    font-size: 14px;
}

.konten {
    overflow: hidden;
    display: -webkit-box;
    -webkit-line-clamp: 5;
    -webkit-box-orient: vertical;
    margin: 0;
    padding-bottom: 10px;
}

.konten p {
    padding: 10px;
    margin: 0;
    font-size: 14;
}

/* footer */
footer {
    margin: 25px;
    padding: 25px;
}