*{
    box-sizing: border-box;
}

body {
    font-size: 16px;
    margin: 0;
    background: white;
}

nav {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 20px 10%;
    background: #14274E;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 100;
}