body {
    margin: 0;
    padding: 0;
}

.container {
    font-family: "pooplins" , sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #007bff;
}

.tambah-container {
    background-color: #fff;
    padding: 40px;
    border-radius: 8px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
    width: 70vw;
}

h1 {
    text-align: center;
    margin-bottom: 5px;
}

.input-group {
    margin-bottom: 10px;
}

label {
    display: flex;
    color: black;
    font-size: 100%;
    margin-bottom: 10px;
}

input[name="judul_news"],
input[name="jurnalis"],
input[name="hari_tanggal"],
input[name="gambar"] {
    width: 99%;
    padding: 5px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 16px;
}

textarea [name="konten_news"]{
    resize: none;
    width: 99%;
    padding: 5px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 16px;
}

button{
    width: 100%;
    padding: 10px;
    background-color: #007bff;
    border: none;
    border-radius: 5px;
    color: #fff;
    cursor: pointer;
    transition: background-color 0.3s;
}

button:hover {
    background-color: #0056b3;
}

.login {
    text-align: center;
}